:root {
    --color-bg: #100e0f;
    --color-fg: #F0E2F3;
    --color-title: #b3cbf2;
    --color-link-hover: #eabbb9;
}

html, body {
  background: var(--color-bg);
  color: var(--color-fg);
  font-family: "Fira Code";
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 600px 460px 1fr;
  grid-template-areas:
    ". left right .";
  column-gap: 80px;
  justify-items: center;
  align-items: center;
  min-height: 100%;
}

.left-container {
  grid-area: left;
  width: 100%;
}

.right-container {
  grid-area: right;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
}

.gif img {
  max-width: 100%;
  max-height: 100%;
}

.head {
  font-size: 40px;
  text-align: right;
  padding: 30px 5px;
}

.head p {
  margin: 0;
}

.category {
  display: flex;
  flex-direction: column;
  width: 180px;
}

.bookmarks {
  display: flex;
  justify-content: center;
}

.links {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
}

.title {
  font-size: 30px;
  padding-bottom: 10px;
  color: var(--color-title);
}

li {
  font-size: 16px;
  list-style-type: none;
  margin: 5px;
  width: max-content;
  margin-left: auto;
  transition: all .4s;
}

a:link {
  text-decoration: none;
  color: var(--color-fg);
}

a:visited {
  color: var(--color-fg);
}

a:hover{
  color: inherit;
}

li:not(:first-child):hover {
  color: var(--color-link-hover);
  transform: scale(0.95);
  transition: all .4s; 
}

.blinking {
  animation: opacity 1s ease-in-out infinite;
  opacity: 1;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
